@font-face {
  font-family: "Rubik";
  src: url("/med-project-1/fonts/Rubik-Regular.woff2") format("woff2"),
    url("/med-project-1/fonts/Rubik-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("/med-project-1/fonts/Rubik-SemiBold.woff2") format("woff2"),
    url("/med-project-1/fonts/Rubik-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("/med-project-1/fonts/Rubik-Bold.woff2") format("woff2"),
    url("/med-project-1/fonts/Rubik-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dancing Script";
  src: url("/med-project-1/fonts/DancingScript-Regular.woff2") format("woff2"),
    url("/med-project-1/fonts/DancingScript-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
