// Colors
$color-white: #ffffff;
$color-white-smoke: #f2f2f2;
$color-dim-gray: #737373;
$color-black: #000000;
$color-black-russian: #1e222e;
$color-blue: #1919ef;
$color-steelblue: #357ab7;
$color-lavender: #d7e4f1;
$color-darkslategray: #1a4a6d;

// Typography
$ff-main: "Rubik", "Arial", sans-serif;
$ff-cursive: "Dancing Script", cursive;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;

// Animation
$transition-300: ease-in 0.3s;
$transition-100: ease-in 0.1s;
