@use "../global/variables" as vars;
@use "../global/mixins" as *;

.break {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0 80px;
  overflow: hidden;

  &__ctn {
    position: relative;

    &::after {
      content: "";
      width: 500px;
      height: 8px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateX(100%);
      background-color: vars.$color-steelblue;
      border-radius: 10px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 500px;
      height: 8px;
      left: -15px;
      top: 50%;
      transform: translatex(-100%);
      background-color: vars.$color-steelblue;
      border-radius: 10px;
    }
  }
}
