@use "../global/variables" as vars;
@use "../global/mixins" as *;

.contact {
  margin: 0 0 48px;
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    @include vp-767 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__left {
    grid-column: 2 span;
    @include vp-767 {
      display: none;
    }
  }

  &__rectangle {
    width: 60%;
    position: relative;
    height: 100%;
    background-color: vars.$color-lavender;
  }

  &__img {
    position: absolute;
    top: 96px;
    right: -100px;
    border-radius: 9000px;
    aspect-ratio: 1 / 1;
  }

  &__right {
    grid-column: 3 span;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-size: 30px;
    line-height: 40px;
    font-family: vars.$ff-cursive;
    color: vars.$color-steelblue;
    text-align: center;
    max-width: 600px;
    margin: 0 0 32px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;

    &-inner {
      background-color: vars.$color-lavender;
      padding: 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    &-title {
      font-size: 20px;
      line-height: 28px;
      font-weight: 600;
      margin: 0 0 24px;
    }
  }

  &__btn {
    font-size: 30px;
    line-height: 40px;
    width: 190px;
    gap: 32px;
    padding: 5px;
  }
}
