@use "../global/variables" as vars;
@use "../global/mixins" as *;

.custom-input {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  margin: 4px 0 0;

  &__field {
    padding: 8px;
    border: 1px solid vars.$color-steelblue;
    border-radius: 8px;
  }

  &__label {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
  }
}
