@use "../global/variables" as vars;
@use "../global/mixins" as *;

.insta {
  padding: 80px 10px;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link {
    display: flex;
    align-items: center;
    color: vars.$color-steelblue;
    gap: 12px;

    &:hover {
      color: vars.$color-indianred;
    }
  }

  &__text {
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;

    @include vp-767 {
      font-size: 24px;
      line-height: 26px;
    }
  }
}
