@use "../global/variables" as vars;

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;

  &__icon {
    color: vars.$color-steelblue;
    transition: color 0.2s ease-in;

    &:hover {
      color: vars.$color-indianred;
    }
  }
}
