---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Politique de confidentialité">
  <section class="legal">
    <div class="container">
      <div class="legal__wrapper">
        <h1 class="legal__title">Politique de confidentialité</h1>
        <p>
          Ce site web n'est qu'un projet destiné à monter les compétences en
          développement de <a
            target="_blank"
            href="https://www.linkedin.com/in/mouhcine-fallahi-256686243/"
            >Mouhcine Fallahi</a
          > . Il ne s'agit pas d'un vrai site web, mais simplement d'un projet faisant
          partie de mon portfolio. Aucune des informations présentes sur ce site
          ne doit être considérée comme officielle ou engageante. Si vous souhaitez
          en savoir plus sur mon travail, vous pouvez consulter mon profil LinkedIn
          ici : <a
            target="_blank"
            href="https://www.linkedin.com/in/mouhcine-fallahi-256686243/"
            >Mouhcine Fallahi</a
          >
        </p>
      </div>
    </div>
  </section>
</BaseLayout>
