---
import { Image } from "astro:assets";
import individual from "../images/individual.png";
import pediatric from "../images/pediatric.png";
---

<section class="consultation">
  <div class="container">
    <div class="consultation__wrapper">
      <h2 class="consultation__title">Je consulte au cabinet ou par visio</h2>
      <div class="consultation__content">
        <div class="consultation__address">
          <iframe
            class="consultation__maps"
            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2294.9056996483396!2d-7.624990951669393!3d33.57848934539468!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sma!4v1743120198756!5m2!1sru!2sma"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
          <div class="consultation__address-text">
            <h3 class="consultation__address-title">Adresse du cabinet :</h3>
            <p class="consultation__address-main">
              <strong>98 Rue Al Farabi, 20250 Casablanca</strong>
            </p>
            <p class="consultation__address-extra">
              Accès via tramway T2 (station Abdelmoumen)
            </p>
            <button class="btn consultation__btn"
              >Prendre RDV
              <svg class="hero__btn-icon" width="35" height="35">
                <use
                  xlink:href="/med-project-1/images/sprite.svg#icon-arrow-right"
                ></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="consultation__details">
          <div class="consultation__details-inner">
            <a
              class="consultation__details-link"
              href="/med-project-1/consultation"
            >
              <h3 class="consultation__details-title">
                Prise en charge individuelle
              </h3>
            </a>
            <p class="consultation__details-text">
              Besoin d’un accompagnement personnalisé ? <br />
              Envie d’améliorer votre santé, de perdre ou de prendre du poids ? <br
              />
              Quel que soit votre âge, <strong>la diététique</strong> est une alliée
              précieuse pour atteindre vos objectifs et retrouver un équilibre durable.
            </p>
            <Image
              class="consultation__img"
              src={individual}
              width={276}
              height={240}
              alt="Illustration d'un consultation individuelle"
            />
          </div>
          <div class="consultation__details-inner">
            <a
              class="consultation__details-link"
              href="/med-project-1/consultation-pediatrique"
            >
              <h3 class="consultation__details-title">
                Prise en charge pédiatrique
              </h3>
            </a>
            <p class="consultation__details-text">
              Vous êtes parent et vous vous sentez dépassé par toutes les
              recommandations ? <br />
              Votre enfant fait face à des problèmes de santé : surpoids, obésité,
              allergies, diabète… ? <br />
              Ne restez pas seul(e), je suis là pour vous accompagner.
            </p>
            <Image
              class="consultation__img"
              src={pediatric}
              width={276}
              height={240}
              alt="Illustration d'un consultation pédiatrique"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
