---
import { Image } from "astro:assets";
import questionGirlImg from "../images/questionGirl.png";

const { faqItems = [], title = "FAQ", isImgPresent = false } = Astro.props;
---

<section class="faq">
  <div class="container">
    <div class="faq__wrapper">
      <h2 class="faq__title">{title}</h2>
      <div class="faq__content">
        <ul class="faq__list">
          {
            faqItems.map((item: { question: string; response: string }) => {
              return (
                <li class="faq__item">
                  <div class="faq__entry">
                    <button class="faq__btn">
                      <svg
                        class="faq__icon"
                        width="30"
                        height="30"
                        aria-hidden="true"
                      >
                        <use xlink:href="/med-project-1/images/sprite.svg#icon-arrow-up" />
                      </svg>
                      <h3 class="faq__question">{item.question}</h3>
                    </button>
                    <div class="faq__response">{item.response}</div>
                  </div>
                </li>
              );
            })
          }
        </ul>
        {
          isImgPresent && (
            <Image
              class="faq__img"
              src={questionGirlImg}
              width={230}
              height={290}
              alt="Illustration d'un patient qui se demande des questions"
            />
          )
        }
      </div>
    </div>
  </div>
</section>

<script>
  const faqBtns: NodeListOf<HTMLElement> =
    document.querySelectorAll(".faq__btn");

  faqBtns.forEach((faqBtn) => {
    faqBtn.addEventListener("click", function (e) {
      const iconEl: HTMLElement | null = faqBtn.querySelector(".faq__icon");
      const responseEl: HTMLElement | null =
        faqBtn.nextElementSibling as HTMLElement;
      if (iconEl && responseEl) {
        closeAllFaqs(iconEl, responseEl);
      }

      iconEl?.classList.toggle("faq__icon--active");
      responseEl?.classList.toggle("faq__response--active");
    });
  });

  const closeAllFaqs = (openIcon: HTMLElement, openResponse: HTMLElement) => {
    const responseEls: NodeListOf<Element> =
      document.querySelectorAll(".faq__response");
    const iconEls: NodeListOf<Element> =
      document.querySelectorAll(".faq__icon");

    responseEls.forEach((responseEl) => {
      if (
        responseEl.classList.contains("faq__response--active") &&
        responseEl !== openResponse
      )
        responseEl.classList.remove("faq__response--active");
    });

    iconEls.forEach((iconEl) => {
      if (iconEl.classList.contains("faq__icon--active") && iconEl !== openIcon)
        iconEl.classList.remove("faq__icon--active");
    });
  };
</script>
