---

---

<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <ul class="footer__info">
        <li class="footer__info-item">
          <p class="footer__info-text">Amine El Farissi</p>
        </li>
        <li class="footer__info-item">
          <p class="footer__info-text">Diététicien nutritionniste</p>
        </li>
        <li class="footer__info-item">
          <p class="footer__info-text">Numéro Adeli 76 69 02 090</p>
        </li>
        <li class="footer__info-item">
          <a class="footer__info-link" href="tel:+212600000000"
            >06 00 00 00 00</a
          >
        </li>
        <li class="footer__info-item">
          <a class="footer__info-link" href="mailto:amineelfarissi69@gmail.com"
            >amineelfarissi69@gmail.com</a
          >
        </li>
      </ul>
      <ul class="footer__socials socials">
        <li class="socials__item">
          <a
            class="socials__link"
            target="_blank"
            href="https://www.instagram.com/fallahimouhcine/"
            aria-label="Lien vers l'instagram"
          >
            <svg
              class="socials__icon"
              width="60"
              height="60"
              aria-hidden="true"
            >
              <use xlink:href="images/sprite.svg#icon-ig"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            class="socials__link"
            target="_blank"
            href="https://www.linkedin.com/in/mouhcine-fallahi-256686243/"
            aria-label="Lien vers Linkedin"
          >
            <svg
              class="socials__icon"
              width="60"
              height="60"
              aria-hidden="true"
            >
              <use xlink:href="images/sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>
      <ul class="footer__links">
        <li class="footer__item">
          <a class="footer__link" href="/med-project-1/consultation"
            >Consultation adulte</a
          >
        </li>
        <li class="footer__item">
          <a class="footer__link" href="/med-project-1/consultation-pediatrique"
            >Consultation pédiatrique</a
          >
        </li>
        <li class="footer__item">
          <a class="footer__link" href="/med-project-1/mentions-legales"
            >Mention légales</a
          >
        </li>
        <li class="footer__item">
          <a
            class="footer__link"
            href="/med-project-1/politique-de-confidentialite"
            >Politique de confidentialité</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
