---

---

<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a
        class="header__logo-link"
        href="/"
        aria-label="Lien vers la page d'accueil"
      >
        <span class="header__logo">Amine El Farissi</span>
      </a>
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-item">
            <a class="header__nav-link header__nav-link--active" href="/"
              >Accueil</a
            >
          </li>
          <li class="header__nav-item">
            <button class="header__nav-btn">
              <span class="header__nav-btn-text"> Consultations </span>

              <svg
                class="header__nav-icon"
                width="25"
                height="25"
                aria-hidden="true"
              >
                <use xlink:href="/images/sprite.svg#icon-arrow-down"></use>
              </svg>
              <ul class="header__dropdown">
                <li class="header__dropdown-item">
                  <a class="header__nav-link" href="/consultation"
                    >Consultations adulte</a
                  >
                </li>
                <li class="header__dropdown-item">
                  <a class="header__nav-link" href="/consultation-pediatrique"
                    >Consultations pédiatrique</a
                  >
                </li>
              </ul>
            </button>
          </li>
          <li class="header__nav-item">
            <a class="header__nav-link" href="/contact">Contact</a>
          </li>
        </ul>
        <button class="btn btn--secondary header__btn">Prendre RDV</button>
      </nav>
      <button class="header__burger-btn" aria-label="Ouvrir le menu">
        <svg class="header__burger-icon" width="30" height="30">
          <use xlink:href="images/sprite.svg#icon-burger-open"></use>
        </svg>
      </button>
      <nav class="header__mobile-nav">
        <button class="header__mobile-btn" aria-label="Fermer le menu">
          <svg class="header__mobile-icon" width="30" height="30">
            <use xlink:href="images/sprite.svg#icon-burger-close"></use>
          </svg>
        </button>
        <ul class="header__mobile-list">
          <li class="header__mobile-item">
            <a class="header__mobile-link header__mobile-link--active" href="/"
              >Accueil</a
            >
          </li>
          <li class="header__mobile-item">
            <a class="header__mobile-link" href="/consultation"
              >Consultations adulte</a
            >
          </li>
          <li class="header__mobile-item">
            <a class="header__mobile-link" href="/consultation-pediatrique"
              >Consultations pédiatrique</a
            >
          </li>
          <li class="header__mobile-item">
            <a class="header__mobile-link" href="/contact">Contact</a>
          </li>
        </ul>
        <button class="btn btn--secondary header__btn">Prendre RDV</button>
      </nav>
    </div>
  </div>
</header>

<script>
  import "../scripts/mobileNav.ts";
</script>
