---

---

<section class="hero">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__content">
        <p class="hero__name">Amine <br /> El Farissi</p>
        <h1 class="hero__title">Diététicien Nutritionniste à Casablanca</h1>
        <p class="hero__subtitle">Consultation au cabinet ou en visio</p>
        <button class="btn hero__btn"
          >Prendre RDV
          <svg class="hero__btn-icon" width="35" height="35">
            <use xlink:href="images/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
      <div class="hero__illustration">
        <svg
          class="hero__illustration-icon"
          width="550"
          height="550"
          aria-label="Illustration d'un petit déjeuner sain"
        >
          <use xlink:href="/images/sprite.svg#icon-breakfast"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
