---
import { Image } from "astro:assets";
import docImg from "../images/docImg.jpg";
---

<section class="info">
  <div class="container">
    <div class="info__wrapper">
      <div class="info__general">
        <h2 class="info__title">Amine El Farissi <br /> Diététicien diplomé</h2>
        <p class="info__short-text">N° ADELI : 76 69 02 090</p>
        <Image src={docImg} alt="Photo du diététicien Amine El Farissi" />
      </div>
      <p class="info__description">
        Pour moi, cuisiner a toujours été un moyen de transmettre du bonheur, un
        plaisir simple et sincère à partager à travers chaque assiette. Grand
        voyageur, je ramène de chacun de mes périples des inspirations
        culinaires, des recettes inédites et des épices du monde, prolongeant
        ainsi l’aventure jusque dans ma propre cuisine. C’est tout naturellement
        que cette passion m’a conduit vers la diététique, afin d’en faire mon
        métier et de vous accompagner vers une alimentation qui vous ressemble,
        en harmonie avec votre santé. Ma priorité : vous guider avec
        bienveillance et sans culpabilisation vers un équilibre alimentaire
        durable. Pas de régime strict, pas de solutions miracles, ni d’aliments
        interdits. Ensemble, nous mettrons en place des habitudes saines et
        variées, qui laissent toute leur place au plaisir de manger. Si besoin,
        je serai également à vos côtés pour apaiser votre relation à
        l’alimentation et vous aider à tendre vers une approche plus intuitive.
        À l’issue de chaque consultation (qu’elle soit adulte, pédiatrique ou en
        couple), je vous remets un compte-rendu personnalisé comprenant conseils
        pratiques, recettes et supports visuels, adaptés à vos besoins et à vos
        objectifs. À la différence d’un coach en nutrition, le
        diététicien-nutritionniste est un professionnel de santé reconnu par
        l’État, formé pour prendre en charge les différentes problématiques et
        pathologies liées à l’alimentation, en s’appuyant sur les
        recommandations officielles des instances de santé.
      </p>
    </div>
  </div>
</section>
