---
import { Image } from "astro:assets";
import docImg from "../images/docImg.jpg";
---

<section class="info">
  <div class="container">
    <div class="info__wrapper">
      <div class="info__general">
        <h2 class="info__title">Amine El Farissi <br /> Diététicien diplomé</h2>
        <p class="info__subtitle">N° ADELI : 76 69 02 090</p>
        <Image
          class="info__img"
          src={docImg}
          width={450}
          height={300}
          alt="Photo du diététicien Amine El Farissi"
        />
      </div>
      <div class="info__description">
        <p>
          Pour moi, cuisiner a toujours été un moyen de transmettre du bonheur,
          un plaisir simple et sincère à partager à travers chaque assiette.
          <br />
          Grand voyageur, je ramène de chacun de mes périples des inspirations culinaires,
          des recettes inédites et des épices du monde, prolongeant ainsi l’aventure
          jusque dans ma propre cuisine.
        </p>
        <p>
          C’est tout naturellement que cette passion m’a conduit vers la
          diététique, afin d’en faire mon métier et de vous accompagner vers une
          alimentation qui vous ressemble, en harmonie avec votre santé.
        </p>
        <p>
          Ma priorité : <strong
            >vous guider avec bienveillance et sans culpabilisation vers un
            équilibre alimentaire durable.</strong
          >
        </p>
        <p>
          <strong>
            Pas de régime strict, pas de solutions miracles, ni d’aliments
            interdits.</strong
          >
          Ensemble, nous mettrons en place des habitudes saines et variées, qui laissent
          toute leur place au plaisir de manger. Si besoin, je serai également à
          vos côtés pour apaiser votre relation à l’alimentation et vous aider à
          tendre vers une approche plus intuitive.
        </p>
        <p>
          À l’issue de chaque consultation (qu’elle soit adulte, pédiatrique ou
          en couple), je vous remets un <strong
            >compte-rendu personnalisé</strong
          > comprenant conseils pratiques, recettes et supports visuels, adaptés
          à vos besoins et à vos objectifs.
        </p>
        <p>
          À la différence d’un coach en nutrition,
          <strong>
            le diététicien-nutritionniste est un professionnel de santé reconnu
            par l’État</strong
          >
          , formé pour prendre en charge les différentes problématiques et pathologies
          liées à l’alimentation, en s’appuyant sur les recommandations officielles
          des instances de santé.
        </p>
      </div>
    </div>
  </div>
</section>
