---
import { Image } from "astro:assets";
import postIt1 from "../images/postit1.png";
import postIt2 from "../images/postit2.png";
import docPatient from "../images/doctor-patient.png";
---

<section class="pricing">
  <div class="container">
    <div class="pricing__wrapper">
      <h2 class="pricing__title">
        Combien coûte une consultation diététique ?
      </h2>
      <p class="pricing__subtitle">
        Les consultations diététiques ne sont pas prises en charge par la
        sécurité sociale. Cependant vous pouvez vérifier auprès de votre
        mutuelle car de nombreuses mutuelles remboursent tout ou partie de la
        consultation.
      </p>
      <div class="pricing__content">
        <div class="pricing__text">
          <ul class="pricing__list">
            <li class="pricing__item">
              <p class="pricing__price">
                Consultation initiale : 600 MAD / 1 heure
              </p>
            </li>
            <li class="pricing__item">
              <p class="pricing__price">
                Consultation de suivi : 450 MAD / 3/4 heure
              </p>
            </li>
            <li class="pricing__item">
              <p class="pricing__price">
                Consultation familiale / couple : 900 MAD / 1 heure
              </p>
            </li>
            <li class="pricing__item">
              <p class="pricing__price">
                Consultation de suivi couple : 700 MAD / 1 heure
              </p>
            </li>
          </ul>
          <div class="pricing__postits">
            <Image
              class="pricing__postit"
              src={postIt1}
              width={256}
              height={256}
              alt="Post-it sur lequel est écrit: Les consultations se font au cabinet ou en visio : choisissez l'option qui vous convient le mieux lors de la prise de rdv "
            />
            <Image
              class="pricing__postit"
              src={postIt2}
              width={256}
              height={256}
              alt="Post-it sur lequel est écrit: Les consultations en visio sont à payer en avance par virement ou par paypal"
            />
          </div>
        </div>
        <div class="pricing__right">
          <Image
            class="pricing__img"
            src={docPatient}
            width={300}
            height={240}
            alt="Illustration d'un diététicien qui consulte un patient"
          />
          <button class="btn approach__btn"
            >Prendre RDV
            <svg class="pricing__btn-icon" width="35" height="35">
              <use xlink:href="images/sprite.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
