---
import { Image } from "astro:assets";
import consultantImg from "../images/consultant.png";

const patientProblems = [
  "Perte ou prise de poids",
  "Adapter son alimentation à son rythme de vie (sédentaire, travail en horaires décalés, déplacements professionnels nombreux, petit budget...)",
  "Adopter une alimentation équilibrée",
  "Retrouver les sensations de faim, satiété, etc...",
  "Apprendre à décrypter les étiquettes alimentaires",
  "Changement dans sa vie : adolescence, grossesse, allaitement, ménopause, retraite, arrêt de la pratique sportive...",
  "Pathologies féminines : SOPK, Endométriose, Aménorrhée, ...",
  "Transition vers une alimentation + végétale : végétarienne ou végétalienne",
  "Aider dans la prise en charge de certaines pathologies : pathologies rénales, maladies cardio vasculaires, diabètes, dénutrition, carences, pathologies digestives ou inconfort digestif, allergies alimentaires, TCA (trouble comportement alimentaire), fertilité ...",
];
---

<section class="services">
  <h1 class="visually-hidden">
    Informations sur la consultation diététique pour adulte
  </h1>
  <div class="container">
    <div class="services__wrapper">
      <h2 class="services__title">
        La consultation diététique, pour qui ? Pourquoi ?
      </h2>
      <p class="services__subtitle">
        La consultation s'adresse à tous, adulte, enfant, personne âgée. Prendre
        soin de sa santé et de soi n'a pas d'âge. Une bonne alimentation est un
        excellent moyen de prévenir l'apparition de pathologies.
      </p>
      <div class="services__content">
        <div class="services__left">
          <Image
            class="services__img"
            src={consultantImg}
            width={300}
            height={300}
            alt="Illustration d'un consultant dnas la prise de rendez-vous chez le diététicien"
          />
          <button class="btn services__btn">
            Prendre RDV
            <svg class="hero__btn-icon" width="35" height="35">
              <use
                xlink:href="/med-project-1/images/sprite.svg#icon-arrow-right"
              ></use>
            </svg>
          </button>
        </div>
        <div class="services__right">
          <h3 class="services__intro">
            Une consultation diététique permet de répondre à de nombreuses
            problématiques :
          </h3>
          <ul class="services__list">
            {
              patientProblems.map((problem) => {
                return (
                  <li class="services__item">
                    <p class="services__text">{problem}</p>
                  </li>
                );
              })
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
